[Unit]
Description=NASA Ballast server socket
Before=ballast.service
Conflicts=ballast.service
ConditionPathExists=!/etc/ballastd_not_to_be_run

[Socket]
ListenStream={{{vars.ballast_vars.config[data_port]}}}

[Install]
WantedBy=sockets.target
