## {{{vars.sshd_server_vars.sshd_config_file}}} is managed by CFEngine v{{{vars.sys.cf_version}}} at {{{vars.sys.policy_hub}}}
## Support for {{{vars.global.eecs_support}}}

#	$OpenBSD: sshd_config,v 1.100 2016/08/15 12:32:04 naddy Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

# What ports, IPs and protocols we listen for
Port {{{vars.sshd_server_vars.sshd[Port]}}}
# Use these options to restrict which interfaces/protocols sshd will bind to
#ListenAddress ::
#ListenAddress 0.0.0.0
Protocol {{{vars.sshd_server_vars.sshd[Protocol]}}}

# HostKeys for protocol version 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

UseDNS {{{vars.sshd_server_vars.sshd[UseDNS]}}}

# Lifetime and size of ephemeral version 1 server key
#KeyRegenerationInterval 3600
#ServerKeyBits 1024

# Ciphers and keying
#RekeyLimit default none

# Logging
SyslogFacility AUTH
LogLevel INFO

# Authentication:
LoginGraceTime 120
PermitRootLogin {{{vars.sshd_server_vars.sshd[PermitRootLogin]}}}
StrictModes {{{vars.sshd_server_vars.sshd[StrictModes]}}}
#MaxAuthTries 6
#MaxSessions 10

RSAAuthentication {{{vars.sshd_server_vars.sshd[RSAAuthentication]}}}
PubkeyAuthentication {{{vars.sshd_server_vars.sshd[PubkeyAuthentication]}}}
#AuthorizedKeysFile	%h/.ssh/authorized_key

#AuthorizedPrincipalsFile none

#AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes
# For this to work you will also need host keys in /etc/ssh_known_hosts
RhostsRSAAuthentication no
# similar for protocol version 2
HostbasedAuthentication {{{vars.sshd_server_vars.sshd[HostbasedAuthentication]}}}
# Uncomment if you don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
#IgnoreUserKnownHosts yes

# Change to no to disable tunnelled clear text passwords
PasswordAuthentication {{{vars.sshd_server_vars.sshd[PasswordAuthentication]}}}

# To enable empty passwords, change to yes (NOT RECOMMENDED)
PermitEmptyPasswords {{{vars.sshd_server_vars.sshd[PermitEmptyPasswords]}}}

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication {{{vars.sshd_server_vars.sshd[ChallengeResponseAuthentication]}}}

# Kerberos options
#KerberosAuthentication no
#KerberosGetAFSToken no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes

# GSSAPI options
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM  {{{vars.sshd_server_vars.sshd[UsePAM]}}}

# Misc options
AllowAgentForwarding {{{vars.sshd_server_vars.sshd[AllowAgentForwarding]}}}
AllowTcpForwarding {{{vars.sshd_server_vars.sshd[AllowTcpForwarding]}}}
#GatewayPorts no

X11Forwarding {{{vars.sshd_server_vars.sshd[X11Forwarding]}}}
X11DisplayOffset UseDNS {{{vars.sshd_server_vars.sshd[X11DisplayOffset]}}}
#X11UseLocalhost yes
#PermitTTY yes

PrintMotd no
PrintLastLog yes

TCPKeepAlive {{{vars.sshd_server_vars.sshd[TCPKeepAlive]}}}
ClientAliveInterval {{{vars.sshd_server_vars.sshd[ClientAliveInterval]}}}

PrintMotd no
#PrintLastLog yes
#UseLogin no

UsePrivilegeSeparation {{{vars.sshd_server_vars.sshd[UsePrivilegeSeparation]}}}
#PermitUserEnvironment no
ChrootDirectory {{{vars.sshd_server_vars.sshd[ChrootDirectory]}}}

#Compression delayed
#ClientAliveInterval 0
#ClientAliveCountMax 3
#PidFile /var/run/sshd.pid
#MaxStartups 10:30:100
#PermitTunnel no
#VersionAddendum none

# no default banner path
#Banner none
#Banner /etc/issue.net

#MaxStartups 10:30:60

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem	sftp	/usr/lib/openssh/sftp-server

# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
#	ForceCommand cvs server

