# {{{vars.xrdp_vars.lxde_autostart_file}}} is configured by CFEngine
@lxpanel --profile LXDE
@pcmanfm --desktop --profile LXDE

# remove xscreensaver since this is a terminal server!
# @xscreensaver -no-splash
