## {{{vars.guacamole_vars.guac_props_file}}} is managed by CFEngine v{{{vars.sys.cf_version}}} at {{{vars.sys.policy_hub}}}
## Support for {{{vars.global.support}}}

## GUACD CONFIGURATION
## changes here need to mirror changes in /etc/guacamole/guacd.conf
guacd-hostname: {{{vars.guacamole_vars.guac_props[guacd-hostname]}}}
guacd-port: {{{vars.guacamole_vars.guac_props[guacd-port]}}}

api-session-timeout: {{{vars.guacamole_vars.guac_props[api-session-timeout]}}}

{{#classes.enable_auth_mysql_module}}
## MYSQL CONFIGURATION
## using vars defined in manage/guacamole/main.cf CFEngine policy
mysql-hostname: {{{vars.guacamole_vars.guac_props[mysql-hostname]}}}
mysql-port:     {{{vars.guacamole_vars.guac_props[mysql-port]}}}
mysql-database: {{{vars.guacamole_vars.guac_props[mysql-database]}}}
mysql-user-required: {{{vars.guacamole_vars.guac_props[mysql-user-required]}}}
mysql-username: {{{vars.guacamole_vars.guac_props[mysql-username]}}}
mysql-password: {{{vars.configure_guac_authentication.mysql_passwd}}}
{{/classes.enable_auth_mysql_module}}

{{#classes.enable_auth_cas_module}}
## AD/CAS CONFIGURATION
## using vars defined in manage/guacamole/main.cf CFEngine policy
cas-authorization-endpoint: {{{vars.guacamole_vars.guac_props[cas-authorization-endpoint]}}}
cas-redirect-uri:           {{{vars.guacamole_vars.guac_props[cas-redirect-uri]}}}
{{/classes.enable_auth_cas_module}}

{{#classes.enable_auth_ldap_module}}
## AD/LDAP CONFIGURATION
## using vars defined in manage/guacamole/main.cf CFEngine policy
ldap-hostname:              {{{vars.guacamole_vars.guac_props[ldap-hostname]}}}
ldap-port:                  {{{vars.guacamole_vars.guac_props[ldap-port]}}}
ldap-encryption-method:     {{{vars.guacamole_vars.guac_props[ldap-encryption-method]}}}
ldap-user-base-dn:          {{{vars.guacamole_vars.guac_props[ldap-user-base-dn]}}}
ldap-search-bind-dn:        {{{vars.guacamole_vars.guac_props[ldap-search-bind-dn]}}}
ldap-search-bind-password:  {{{vars.configure_guac_authentication.ad_passwd}}}
ldap-username-attribute:    {{{vars.guacamole_vars.guac_props[ldap-username-attribute]}}}
{{/classes.enable_auth_ldap_module}}
