## {{{vars.web_server_vars.certbot_config_file}}} is managed by CFEngine v{{{vars.sys.cf_version}}} at {{{vars.sys.policy_hub}}}
## Support for {{{vars.global.support}}}

# This is an example of the kind of things you can do in a configuration file.
# All flags used by the client can be configured here. Run Certbot with
# "--help" to learn more about the available options.
#
# Note that these options apply automatically to all use of Certbot for
# obtaining or renewing certificates, so options specific to a single
# certificate on a system with several certificates should not be placed
# here.

# use the text interface and no prompting mode
text = True
non-interactive = True
 
# use a 4096 bit RSA key instead of default 2048
rsa-key-size = 4096

# register with the specified e-mail address
email = {{{vars.web_server_vars.certbot_registered_email}}}

# agree to the terms of service for certbot
agree-tos = True

# domains to register
# (certbot renew will not work with domains specified in config file, moving this to CLI in manage_certbot bundle)
# domains = {{{vars.web_server_vars.certbot_domains_to_register}}}

# UNCOMMENT TO define server??
# server = {{{vars.web_server_vars.server_location}}}

# UNCOMMENT TO use the standalone authenticator on port 443
# authenticator = standalone
# standalone-supported-challenges = tls-sni-01

# UNCOMMENT TO use the webroot authenticator. Replace webroot-path with the
# path to the public_html / webroot folder being served by your web server.
# authenticator = webroot
# webroot-path = /usr/share/nginx/html

####################
## example config ##
# rsa-key-size = 4096
# server = https://acme-v01.api.letsencrypt.org/directory52
# email = email@mydomain.tld
# text = True
# authenticator = webroot
# webroot-path = /var/www/
# agree-dev-preview = True
# agree-tos = True
# renew-by-default = True
# domains = mydomain.tld,www.mydomain.tld,confluence.mydomain.tld
