## {{{vars.mail_server_vars.aliases_file}}} is managed by CFEngine v{{{vars.sys.cf_version}}} at {{{vars.sys.policy_hub}}}
## Support for {{{vars.global.eecs_support}}}

# See man 5 aliases for format
postmaster:    root
root: {{{vars.mail_server_vars.root_email}}}